.wrapper {
  display: grid;
  gap: 16px;
  grid-template: auto / 160px 1fr;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
}

.thumbnailWrapper::before {
  content: '';
  display: block;
  padding: 56.25% 0 0;
}

.thumbnail {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  font-size: 1.6rem;
}

.author {
  color: lighten($color: #000, $amount: 50);
  font-size: 1.4rem;
}
