@import 'styles/constants';
@import 'sass-mq';

html {
  font: 62.5% arial, sans-serif;
  line-height: 1.5;
  overflow: hidden scroll;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
