.wrapper {
  background: lighten($color: #00acee, $amount: 50);
  border: 1px solid #00acee;
  border-radius: 10px;
  padding: 24px;
}

.iconWrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 64px;
}

.iconWrapper::before {
  content: '';
  display: block;
  padding: 100% 0 0;
}

.icon {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
